@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
  @apply bg-pure-black;
}

@screen lg {
  .section-title {
    font-size: 7rem;
  }
}

@screen md {
  .section-title {
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    font-size: 5rem;
  }
}

.gradient-bg {
  background-image: url('./assets/gradient.jpg');
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-fixed;
}

a {
  transition: all ease-in 0.2s;
}

.nav-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.nav-active {
  @apply bg-black;
}
