@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

::selection {
  @apply bg-purple-lightest;
}

* {
  transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1);
}

body {
  @apply bg-pure-black;
}

.gradient-bg {
  background-image: url('./assets/gradient.jpg');
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-fixed;
}

.learn-more::after {
  content: '→';
  display: inline-block;
  margin-left: 5px;
  transition: all 0.4s cubic-bezier(0.5, 0, 0.1, 1);
}

.learn-more:hover:after {
  transform: translateX(5px);
}

.nav-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.nav-active {
  @apply bg-black;
}

@screen md {
  .section-title {
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
  }
}
