@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

::selection {
  @apply bg-teal-lighter;
}

html {
  @apply font-sans;
  @apply leading-normal;
  @apply text-white;
  @apply bg-pure-black;
}

img {
  @apply select-none;
}

.gradient-bg {
  background-image: url('./assets/gradient.jpg');
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-cover;
}

.learn-more::after {
  content: '→';
  transition: all 0.4s cubic-bezier(0.5, 0, 0.1, 1);
  @apply font-sans;
  @apply inline-block;
  @apply ml-2;
}

.learn-more:hover:after {
  transform: translateX(5px);
}

.nav-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.nav-active {
  @apply bg-black;
}

@screen md {
  a,
  .border-box {
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1);
  }

  .learn-more::after {
    transition: all 0.4s cubic-bezier(0.5, 0, 0.1, 1);
  }

  .gradient-bg {
    @apply bg-fixed;
  }

  .section-title {
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
  }
}
