@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face {
  font-family: 'GTAmerica-ExpandedBold';
  src: url('./assets/fonts/GTAmerica-ExpandedBold_2.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-Regular';
  src: url('./assets/fonts/GTAmerica-Regular_2.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-Regular';
  src: url('./assets/fonts/GTAmerica-Bold_1.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'GTAmericaMono-Regular';
  src: url('./assets/fonts/GTAmericaMono-Regular_1.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaMono-Regular';
  src: url('./assets/fonts/GTAmericaMono-Medium_3.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

::selection {
  @apply bg-teal-300;
}

html {
  @apply font-sans;
  @apply leading-normal;
  @apply text-white;
  @apply bg-black;
}

h2 {
  @apply font-expanded;
  @apply text-3xl;
}

img {
  @apply select-none;
}

.gradient-bg {
  background-image: url('./assets/gradient.jpg');
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-cover;
}

.nav-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.nav-active {
  @apply bg-gray-800;
}

.scroll-arrow {
  animation: up-down 1s ease-in-out 2s infinite alternate;
}

@keyframes up-down {
  from {
    transform: translateY(0);
    @apply opacity-100;
  }
  to {
    transform: translateY(-10px);
    @apply opacity-0;
  }
}

@screen md {
  .gradient-bg {
    @apply bg-fixed;
  }

  .section-title {
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
  }
}

@screen lg {
  a,
  .border-box {
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1);
  }

  .learn-more::after {
    transition: all 0.4s cubic-bezier(0.5, 0, 0.1, 1);
  }
}
