@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face {
  font-family: "GT-America-Expanded";
  src: url("./assets/fonts/GT-America-Expanded-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT-America-Expanded";
  src: url("./assets/fonts/GT-America-Expanded-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("./assets/fonts/GT-America-Extended-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("./assets/fonts/GT-America-Extended-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  ::selection {
    @apply bg-purple-300;
  }

  html {
    @apply font-sans;
    @apply leading-normal;
    @apply text-white;
    @apply bg-black;
  }

  h2 {
    @apply font-expanded;
    @apply font-bold;
    @apply text-3xl;
  }

  img {
    @apply select-none;
  }
}

.gradient-bg {
  background-image: url("./assets/gradient.jpg");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-cover;
}

.scroll-arrow {
  animation: up-down 1s ease-in-out 2s infinite alternate;
}

@keyframes up-down {
  from {
    transform: translateY(0);
    @apply opacity-100;
  }
  to {
    transform: translateY(-10px);
    @apply opacity-0;
  }
}

@screen md {
  .gradient-bg {
    @apply bg-fixed;
  }

  .section-title {
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
  }
}

@screen lg {
  a {
    transition: all 0.2s cubic-bezier(0.5, 0, 0.1, 1);
  }
}
